<!-- mkgif/templates/mkgif/details.html -->

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Make GIF</title>
      {% load static %}
   </head>
   <body>
      <header>
	 <h1>Details</h1>
      </header>
      <main>
	 {{anim.name}} <br>
	 {% for img in images %}
	    <img src="{{ img.image.url }}" >
	 {% endfor %}
      </main>
   </body>
</html>
