<!-- mkgif/templates/mkgif/index.html -->

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css@0.9.8" />
      <title>Make GIF</title>
   </head>
   <body>
      <header>
	 <h1>Make GIF Animations</h1>
      </header>
      <nav>
	 <ul>
	    <li><a href="{% url 'mkgif:index' %}">Home</a></li>
	    <li>
	       <span>{{ user }}</span>
	       <ul>
		  {% if user.is_superuser %}
		  <li><a href="{% url 'admin:index' %}">Django Admin</a></li>
		  {% endif %}
		  <li><a href="{% url 'logout' %}">Logout</a></li>
	       </ul>
	       </span>
	    </li>
	 </ul>
      </nav>
      <main>
	 <p>My GIF Animations:</p>
	 <table>
	    {% for anim in anims %}
	    <tr>
	       <td>{{ anim.pk }}</td>
	       <td><a href="{% url 'mkgif:details' anim.pk %}">{{ anim.name }}</a></td>
	    </tr>
	    {% endfor %}
	 </table>
	 <hr>
	 <form action="{% url 'mkgif:index' %}" method="POST" enctype="multipart/form-data">
	    <fieldset>
	       <legend><label>Add New GIF Animation</label></legend>
	       {% csrf_token %}
	       <input name="name" type="text" placeholder="Animation name">
	       <input name="imgs" type="file" multiple>
	       <button>Submit</button>
	    </fieldset>
	 </form>
      </main>
   </body>
</html>
